<!DOCTYPE html>
<html>
  <head>
    <title>HTML Form Examples</title>
  </head>
  <body>
    <h1>Click the button to read from AWS S3!</h1>

    <!-- Button Form -->
    <form action="/display_data" method="post">
      <button type="submit">Press Me!</button>
    </form>

    <hr />
    <!-- Horizontal line to separate the forms -->

    <!-- Text Form -->
    <form action="/submit_number" method="post">
      <label for="textInput">Enter Text:</label><br />
      <input type="text" id="textInput" name="textInput" /><br /><br />
      <button type="submit">Submit</button>
    </form>
    <form action="/show_number" method="get">
      <button type="submit">show data</button>
    </form>
  </body>
</html>
